.killer
  display inline-flex
  font-size 18px
  border 2px solid #eee
  border-right 0
  width 40px
  height 28px
  text-align center
  justify-content center
  align-items center
  color #fcf
  cursor pointer
  background #fff
  &.red
    color #f00
  &.black
    color #000
  &.blue
    color #66f
  &:hover
    text-shadow 0 0 5px currentColor
    background #fef
  &.disabled
    color #ddd
    pointer-events none