.sign-up-mask
  position fixed
  top 50px
  left 180px
  bottom 0
  right 0
  background alpha(#fff, 0.8)
  font-size 28px
  text-align center
  color #333
  transform translateZ(10px)
  display flex
  flex-direction column
  justify-content center
  align-items center
  overflow hidden
  &>p
      margin 0 20px
  .gift-name
    font-weight 700
    margin 0 5px