.sign-up-mask
  position fixed
  top 50px
  bottom 0
  left 0
  right 0
  background alpha(#000, 0.8)
  font-size 28px
  text-align center
  color #fff
  transform translateZ(10px)
  display flex
  flex-direction column
  justify-content center
  align-items center